body{
    margin: 0;
    padding: 0;
    font-family:Calibri;
	background:#2c3e50;
}

header {
    background: #009432;
    height: 90px;
    border-bottom: solid 3px #006266;
    position:absolute;
    width:100%;
    min-height:90px;
}

a{
    text-decoration:none;
    color:black;
    pointer-events:all 
}

.header-main {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    font-size: 20px;
    color: #2d3436;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/*.header-nav {
    float: right;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    right:10%;
}*/

.header-nav-ul{
    list-style:none;
    text-transform:uppercase;
    position:absolute;
    display:flex;
    right:5%;
    top:50%;
    transform:translateY(-50%);
    margin:0;
    padding:0;
}

.header-nav-li {
    margin: 0 15px;
    padding: 0 5px;
}

/*ul li a:after{
    content:'';
    width:0;
    height:2px;
    position:absolute;
    bottom:0;
    transition:width .3s linear;
}

ul li a:hover:after{
    border-bottom:1px solid red;
    width:50%;
}*/

.header-nav-li a{
    color: #2d3436;
    font-weight:bold;
    text-align:center;
    position:relative;
    /*display:block;*/
    text-transform:uppercase;
}

.header-nav-li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2d3436;
    transform: scaleX(0);
    transform-origin:center;
    transition: transform .3s ease;
}

.header-nav-li a:hover:after{
    transform:scaleX(1.2);
    transform-origin:center;
    transition:transform .5s;
}


/*@keyframes hovereffect {
    0%{
        border:none;
    }
    100%{
        border-bottom:1px solid red;
    }
}*/

@media (max-width: 1200px){
    header{
        height:120px;
    }
    .header-nav-ul{
        display:block;
    }
	.header-nav-li{
		text-align:center;
	}
}